body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
}

.app {
  background-color: rgb(246, 246, 239);
  width: 85%;
  margin: auto;
  counter-reset: news;
}

.header {
  background-color: rgb(255, 102, 0);
  color: #222222;
  padding: 3px;
  display: flex;
}

.logo {
  display: flex;
}

.logo img {
  outline: 1px solid #fff;
}

.logo .title {
  display: block;
  margin-left: 5px;
  font-weight: bold;
}

ul#menu {
  margin: 0;
  list-style-type: none;
  padding-left: 15px;
}

ul#menu li.item {
  display: inline-block;
}

ul#menu li.item a {
  color: #222222;
  padding-right: 3px;
  padding-left: 3px;
  text-decoration: none;
}

ul#menu li.item:last-child a {
  margin-right: 0;
}

.news-item {
  margin-bottom: 5px;
  padding: 5px;
}

.news-item::before {
  counter-increment: news;
  content: counter(news) ". ";
  font-size: 11px;
}

a.title {
  color: #000;
  text-decoration: none;
  font-size: 13px;
}

.comment-link {
  text-decoration: none;
  color: #000
}

.comment-link:hover {
  text-decoration: underline;
}

span.domain {
  font-size: 8pt;
  color: #828282;
  margin-left: 10px;
}

div.subtext {
  font-size: 7pt;
  color: #828282;
}
/* 
a.active {
  color: #fff !important;
} */

span.comment-meta {
  display: block;
  font-size: 8pt;
  color: #828282;
  margin-left: 10px;
}

.comment {
  margin-bottom: 20px;
  max-width: 1215px;
  overflow: auto;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 9pt;
}

.comment-body {
  margin-left: 20px;
}

.nested {
  margin-left: 30px;
}

.nested .comment {
  margin-bottom: 0;
}

.more {
  cursor: pointer;
}

.more:hover {
  text-decoration: underline;
}